@font-face {
    font-family: 'Robotica';
    src: url('../fonte/Robotica.ttf') format('truetype');
}


@font-face {
    font-family: 'Tech';
    src: url('../fonte/Techfont.ttf') format('truetype');
}


@keyframes piscar {
    0%, 100% {
        color: #e9e3e6; /* Laranja */
    }
    50% {
        color: #87cefa; /* Azul */
    }
}

#body{
    height: 100vh;
    background: linear-gradient(to bottom, #143166, #0d2144, #143166);
    color: #e9e3e6;
    font-family: Tech, sans-serif;
    letter-spacing: 2px;
}

.links{
    color: #e9e3e6; 
    padding: 20px 10px;
    font-size: 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.links:hover{
    font-weight: bold;
    color: #87cefa;
    text-decoration: none;
}

#logoHome{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Robotica', sans-serif;
    letter-spacing: 3px;
    color: #101010;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    animation: piscar 2s infinite;
}

.navTop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

button{
    height: 40px;
}

button:hover{
    background-color: #87cefa;
    font-weight: bold;
}