.navbar{
    position: fixed;
    top: 0;
    left: 0;
}

#Container-Registro{
    width: 40vw;
    height: 60vw;
    padding: 20px;
    margin: auto;
}

#Imagem-Registro{
    width: 15em;
}

#Container-Registro .col{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Title-Registro{
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    animation: piscar 2s infinite;
    font-weight: bold;
}

#Botao-Registro{
    height: 40px;
    background-color: snow;
    color: rgb(28, 28, 28);
}

#Botao-Registro:hover{
    background-color: #87cefa;
    font-weight: bold;
}

#password{
    position: relative;
}

.toggle{
	position: absolute;
	top: 73%;
	right: 16px;
	translate:  0 -50%;
	width: 30px;
	height: 30px;
	background-image: url("../image/hide.svg");
	background-color: transparent;
	background-size: 85%;
	background-position: center;
	background-repeat: no-repeat;
    border: 0;
}

.toggle:hover{
    border: 0;
    background-color: transparent;
}

.toggle.showing{
	background-image: url("../image/show.svg");
    border: 0;
}


