@font-face {
    font-family: 'Robotica';
    src: url('../fonte/Robotica.ttf') format('truetype');
}

h1{
    font-family: 'Robotica', sans-serif;
    letter-spacing: 3px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
div{
    border: 1px solid red;
}

div.col{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-registro{
    display: flex;
    flex-direction: column;
    height:100vh;
    width: 40vw;
}

img{
    width: 50%;
}