.navbar{
    position: fixed;
    top: 0;
    left: 0;
}

#Container-Registro{
    width: 40vw;
    height: 60vw;
    padding: 20px;
    margin: auto;
}

#Imagem-Registro{
    width: 15em;
}

#Container-Registro .col{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Title-Registro{
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    animation: piscar 3s infinite;
    font-weight: bold;
}

#Botao-Registro{
    height: 40px;
    background-color: snow;
    color: rgb(28, 28, 28);
}

#Botao-Registro:hover{
    background-color: #87cefa;
    font-weight: bold;
}
